body {
  background: linear-gradient(15deg, #ff9494 30%, #ffe3e1);
}

@media (max-width: 991px) {
  body {
    background: linear-gradient(90deg, #ff9494 40%, #ffe3e1);
  }

  .title-col {
    justify-content: center;
    align-items: center;
  }
}

p.signup-prompt {
  margin-top: 58px;
  margin-bottom: 16px;
}

.login-btn {
  background: linear-gradient(15deg, #ff9494 50%, #feb9b9);
}

.login-btn:hover {
  background: #ffa9a9;
}

.login-btn:active {
  background: #ee8989;
}
